@font-face {
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 700;
  src: local(""), local("Mabry Pro"),url("/fonts/mabry_pro/MabryPro-Bold.ttf");
}
@font-face {
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 400;
  src: local(""), local("Mabry Pro"),url("/fonts/mabry_pro/MabryPro-Regular.ttf");
}
@font-face {
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 500;
  src: local(""), local("Mabry Pro"),url("/fonts/mabry_pro/MabryPro-Medium.ttf");
}
@font-face {
  font-family: 'Mabry Pro';
  font-style: normal;
  font-weight: 300;
  src: local(""), local("Mabry Pro"),url("/fonts/mabry_pro/MabryPro-Light.ttf");
}
